@tailwind base;
@tailwind components;
@tailwind utilities;


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* CSS Stylesheet */
.MuiDataGrid-colCellTitle {
  font-weight: bold;
}

h1 {
  font-size: x-large;
  font-weight: bolder;
}
.usercontainer {
  padding: 0 24px;
  max-width: 85rem;
  margin: auto;
}
.container {
  padding: 0 12px;
  max-width: 85rem;
  margin: auto;

  @media screen and (max-width: 800px) {
    padding: 0 0;
  }
}
.userlayout {
  padding: 0 24px 0 80px;
  max-width: 85rem;
  margin: auto;  

  @media screen and (min-width: 1700px) {
    padding: 0 24px 0 0;
    max-width: 92rem;
  }
}
.layout {
  padding: 20px 24px 0 0;
  max-width: 85rem;
  margin: auto;  

  @media screen and (max-width: 800px) {
    padding: 12px 12px 0 0;
    max-width: 92rem;
  }
}
.drawerHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
}

.link {
  text-decoration: none;
}
.topCardsContainer {
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr ;
  }
}

.dataCard {
  padding: 20px;
}

.dataCard {
  position: relative;
  top: 1rem;
  height: 100%;
  width: calc(100% - 0.1rem);
  padding: 1rem 0.5rem;
}

.dataCard p {
  padding: 0.5rem 1rem;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  
}
.header button, p {
  padding: 0.25rem;
}
.dataRibbon {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;

  @media screen and (min-width: 900px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.bottomRow {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr;

  @media screen and (min-width: 900px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.wrapper {
  display: flex;
}

.transactions {
  display: block;
  padding: 1rem 2rem;
  width: 100%;

  @media screen and (min-width: 1000px) {
    display: flex;
  }
}

.chart {
  max-width: 100%;
  width: 100%;

  @media screen and (min-width: 1000px) {
    max-width: 80%;
  }
}

.cardWrapper {
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
  max-width: 100%;
  width: 100%;

  @media screen and (min-width: 1000px) {
    flex-direction: column;
    max-width: 20%;
  }
}

.card {
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  width: 100%;

  @media screen and (min-width: 1000px) {
    padding: 0.5rem;
  }
}

.cardTitle p {
  font-weight: 600;
  font-size: 1.4rem;
  
  @media screen and (max-width: 900px) {
    font-weight: 400;
    font-size: 0.9rem;
  }
}

.cardValue p {
  font-size: 1.2rem;

  @media screen and (min-width: 700px) {
    font-size: 0.7rem;
  }
}

.footer {
  position: absolute;
  bottom: -5rem;
  left: 0;
  right: 0;
  width: 100%;
}

.footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: auto;
  width: 100%;
}

.footer li {
  padding: 1rem;
}

.footer li a {
  text-decoration: none;
}

.footer li a:hover {
  text-decoration: underline;
}